<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>JSON API</h2>

<ul>
  <li><a href="/instruments-json">GET members from instruments.json</a></li>
</ul>

<h2>DB API</h2>
<ol>
  <li>create database
    <strong>'investments'</strong>
    using
    <a href="http://localhost/phpmyadmin/" target="_blank">http://localhost/phpmyadmin</a>
  </li>
  <li><a href="/investments/install">create MySQL members TABLE</a></li>
  <li><a href="/investments">GET members from MySQL</a></li>
</ol>